@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


.ending {
    background-color: #261e1c;
}

.testimotials {
    font-family: 'Krona One', sans-serif;
}  

.testimotials h1 {
    font-family: 'Dancing Script', cursive;
    color: orange;
} 

.testimotials hr {
    max-width: 980px;
}

.subheading {
    margin-top: 20px;
}
.shipping {
    max-width: 980px;
    margin: auto;
    display:flex;
    justify-content: space-around;
}

.back {
    background-color: #261e1c;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    max-width: 980px;
    margin: auto;
}


.testimotials {
    text-align: center;
    color: white;


}

.testimotials h2  {
    font-family: 'Prata', serif;
}

.testimotials p  {
    font-family: 'Prata', serif;
}


.pattern {
    float: center;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    min-width: 30px;
    min-height: 30px;
}

.carousel-inner img {
    position: relative;
	width: 500px; 
    height: 700px;
}

.carousel-inner p {
    margin: auto;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    color: white;
    margin: 35px;
    z-index: 1;
    position: absolute;
	top	: 500px;
    margin-right: 100px;
    margin-bottom: 100px;
    margin-left: 150px;
	width: 70%;
    
} 
.question h1 {
    margin: auto;
    font-family: 'Dancing Script', cursive;
    color: orange;
}

.question h2 {
    margin: 10px;
    font-family: 'Prata', serif;
}

.question li p {
    text-align: initial;
    font-family: 'Great Vibes', cursive;
    font-size: 25px;
}

.wine {
    float: right;
    margin-top: 100px;
    margin-right: 70px;
    margin-left: 40px;
    min-width: 300px;
    min-height: 300px;
}

.wine:hover {
    transform: scale(1.05);
}

.question li p:hover {
    transform: scale(1.05);
    font-family: 'Great Vibes', cursive;
    font-size: 25px;
}

.question li p:hover {
    text-align: initial;
    color: orange;
    text-decoration: none;
}

.question  {
 margin: 50px;
}

.wine {
    padding-right: 100px;
    float: right;
    max-width: 250px;
    max-height: 400px;
}

.shipping-1{
  display: flex;
  justify-content: space-around
}

.delivery { 
    margin: 50px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background: url(../img/delivery.jpg) top 10px  left 25px  no-repeat;
    background-size: 250px 200px;
    min-width: 300px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.8);
    width: 300px;
    height: 450px;
    padding-top: 250px;
    padding-left: 40px;
    transition: 0.5s;
}


.delivery p {
    margin-top: 20px;
    margin-right: 40px;
    text-align: center;
    font-family:  'Rubik', sans-serif;
}
   
.delivery h2 {
    margin-top: 5px;
    margin-right: 40px;
    text-align: center;
    font-family: 'Prata', serif;

   
}

@media (max-width:767px){
    .delivery { 
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        background: url(img/delivery.jpg);
        background-size: 100% auto;
        min-width: 400px;
        text-align: center;
        padding-bottom: 50px;
    }
}

@media (max-width:480px) {
    .delivery {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        min-width: 300px;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.8);   
        align-items: center;
    }
}

.delivery:hover {
    transform: scale(1.1);
    font-family: 'Original Surfer', cursive;
}
    
.delivery p {
    text-align: center;
    font-family:  'Rubik', sans-serif;
}

.delivery img {
    display: block;

}

.secure {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background: url(../img/secure-payment.jpg) top 10px left 25px no-repeat;
    background-size: 250px 200px;
    min-width: 300px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.8);
    width: 300px;
    height: 450px;
    padding-top: 250px;
    padding-left: 40px;
    transition: 0.5s;
}

@media (max-width:767px){
    .secure { 
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        background: url(../img/secure-payment.jpg);
        background-size: 100% auto;
        min-width: 600px;
        text-align: center;
        padding-bottom: 50px;
    }
}

@media (max-width:480px) {
    .secure {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        min-width: 300px;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.8);   
        align-items: center;
    }
}

.secure:hover {
    transform: scale(1.1);
}
.secure {
    margin: 50px;
}
.secure p {
    margin-top: 20px;
    margin-right: 40px;
    text-align: center; 
    font-family:  'Rubik', sans-serif;

}

.secure h2 {
    margin-top: 5px;
    margin-right: 40px;
    text-align: center;
    font-family: 'Prata', serif;
}

.eco-friendly {
    margin: 50px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background: url(../img/eco-friendly.jpg) top 10px left 25px no-repeat;
    background-size: 250px 200px;
    min-width: 300px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.8);
    width: 300px;
    height: 450px;
    padding-top: 250px;
    padding-left: 40px;
    transition: 0.5s;
}

@media (max-width:767px){
    .eco-friendly { 
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        background: url(../img/eco-friendly.jpg);
        background-size: 100% auto;
        min-width: 600px;
        text-align: center;
        padding-bottom: 50px;
    }
}

@media (max-width:480px) {
    .eco-friendly {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        min-width: 300px;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.8);   
        align-items: center;
    }
}

.eco-friendly:hover {
    transform: scale(1.1);
}

.eco-friendly p {
    margin-top: 20px;
    margin-right: 40px;
    text-align: center; 
    font-family:  'Rubik', sans-serif;
}

.eco-friendly h2 {
    margin-right: 40px;
    text-align: center;
    font-family: 'Prata', serif;

}

.discount {
    margin: 50px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background: url(../img/DISCOUNT.png) top 10px left 25px no-repeat;
    background-size: 250px 200px;
    min-width: 300px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.8);
    width: 300px;
    height: 450px;
    padding-top: 250px;
    padding-left: 40px;
    transition: 0.5s;
}

@media (max-width:767px){
    .discount { 
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        background: url();
        background-size: 100% auto;
        min-width: 600px;
        text-align: center;
        padding-bottom: 50px;
    }
}

@media (max-width:480px) {
    .discount {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        min-width: 300px;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.8);   
        align-items: center;
    }
}

.discount:hover {
    transform: scale(1.1);
}

.discount h2 {
    margin-top: -30px;
    margin-right: 40px;
    text-align: center;
    font-family: 'Prata', serif;
}

.discount p {
    margin-top: 20px;
    margin-right: 40px;
    text-align: center;
    font-family:  'Rubik', sans-serif;
}

.form-ending {
    margin: 50px;
}

.contact {
    margin: 50px;
}

.contact p {
    text-align: left;
}

.information {
    margin: 50px;
}

.information p {
    text-align: left;
}

.shops {
    margin: 50px;
}

.shops p {
    text-align: left;
}

.form-ending {
    align-items: center;
    margin: auto;
    background-color: #261e1c;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.join h2 {
    font-family: 'Dancing Script', cursive;
    color: orange;
    margin: 100px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.join h3 {
    margin: 100px;
    margin-bottom: 30px;
    margin-top: 3px;
    font-family: 'Prata', serif;
}

.join h4 {
    margin: 100px;
    margin-bottom: 30px;
    margin-top: 3px;
    font-family: 'Prata', serif;
}


.join img {
    margin: 100px;
    margin-bottom: 50px;
    width: 200px;
    height: 150px;
}

.join img:hover {
    transform: scale(1.1);
}

.join form {
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 200px;
    height: 150px;

}

.contact h2 {
    font-family: 'Courier New', Courier, monospace;
}

.email {
    background-color:white;
    margin-top: 20px;
    width: 400px;
    height: 50px; 
    color:black;
    font-family: 'Courier New', Courier, monospace; 
}

.submit {
    background-color: orange;
    margin-top: 30px;
    margin-right: 100px;
    width: 200px;
    height: 50px;
    color:black;
    font-family: 'Courier New', Courier, monospace; 
}

.footer-ending {
    display: flex;
    justify-content: space-around;
}

.contact .information .shops {
    margin-right: 50px;
    width: 150px; 
}

.contact h2 {
    font-family: 'Prata', serif;
}
.contact p {
    text-decoration: none;
    color: orange;
    font-family: 'Rubik', sans-serif; 
}

.information h2{
    font-family: 'Prata', serif;
}

.information a {
    color: orange;
    text-decoration: none;
    font-family: 'Rubik', sans-serif; 
}


.shops h2{
    font-family: 'Prata', serif;

}
.shops a {
    color: orange;
    text-decoration: none;
    font-family: 'Rubik', sans-serif; 

}
